<div class="container">
  <section id="success-stories" class="section success-stories">
    <div class="container">
      <h2>Casos de Éxito</h2>
      <div class="grid-cards">
        <div class="case-card">
          <img src="assets/proyectos/emsula.webp" alt="EMSULA Web" />
          <h4>EMSULA Landing</h4>
          <p>Diseño web para captación masiva de leads.</p>
        </div>
        <div class="case-card">
          <img src="assets/proyectos/ops.webp" alt="OPS Telemedicina" />
          <h4>OPS Telemedicina</h4>
          <p>Plataforma de atención médica remota para Unión Europea.</p>
        </div>
        <div class="case-card">
          <img src="assets/proyectos/tengo.webp" alt="TENGO Wallet" />
          <h4>TENGO App</h4>
          <p>Desarrollo de eWallet para pagos digitales en Centroamérica.</p>
        </div>
      </div>
    </div>
  </section>
</div>
