<div class="container">
  <div class="title-info">
    <h2>{{ 'ourService' | translate}}</h2>
  </div>
  <div class="services">
    <div class="service-card">
      <div>
        <img src="assets/images/appmobile.jpg" alt />
        <div class="service">
          <div class="title-card">
            <h5>{{ 'ourServiceDescription.mobile.title' | translate}}</h5>
          </div>
          <div class="description">
            <p>{{ 'ourServiceDescription.mobile.description' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="service-card">
      <div>
        <img src="assets/images/web.jpg" alt />
      </div>
      <div class="service">
        <div class="title-card">
          <h5>{{ 'ourServiceDescription.web.title' | translate}}</h5>
        </div>
        <div class="description">
          <p>{{ 'ourServiceDescription.web.description' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="service-card">
      <div>
        <img src="assets/images/consulting.jpg" alt />
      </div>
      <div class="service">
        <div class="title-card">
          <h5>{{ 'ourServiceDescription.consulting.title' | translate}}</h5>
        </div>
        <div class="description">
          <p>{{ 'ourServiceDescription.consulting.description' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
