.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.title-info {
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
  margin-bottom: 40px;
}
