<div class="container">
  <div class="title-info">
    <h2>{{ 'ourService' | translate}}</h2>
  </div>
  <div class="services" *ngIf="!isMobile">
    <div class="service-card" *ngFor="let service of services">
      <img src="assets/images/{{ service.image }}" alt />
      <div class="service">
        <div class="title-card">
          <h5>{{ service.title | translate }}</h5>
        </div>
        <div class="description">
          <p>{{ service.description | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="services-carousel"
    *ngIf="isMobile"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd($event)"
  >
    <div
      class="service-card"
      *ngFor="let service of services; let i = index"
      [@slideAnimation]="i === currentIndex ? 'active' : 'inactive'"
      [class.active]="i === currentIndex"
    >
      <img src="assets/images/{{ service.image }}" alt />
      <div class="service">
        <div class="title-card">
          <h5>{{ service.title | translate }}</h5>
        </div>
        <div class="description">
          <p>{{ service.description | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
