<div class="footer">
  <div class="appalnad">
    <div class="logo">
      <img src="assets/images/logo-appland.png" alt />
      <div style="align-content: center;">
        <strong>
          <p>Appland</p>
        </strong>
      </div>
    </div>
    <div class="social">
      <strong>
        <p>Social media</p>
      </strong>
    </div>
    <div class="contact">
      <strong>
        <p>Contact</p>
      </strong>
    </div>
  </div>
  <div class="reserved">
    <p class="text-reserved">© Copyright 2024. All Rights Reserved by <strong>Appland</strong></p>
  </div>
</div>
