<div class="footer">
  <div class="footer-content">
    <div class="logo">
      <img src="assets/images/logo-appland.png" alt="Appland Logo" />
      <p><strong>Appland</strong></p>
    </div>
    <div class="social">
      <p><strong>Social Media</strong></p>
      <div class="social-icons">
        <a href="https://www.facebook.com/applandhn" target="_blank">
          <img src="assets/images/facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/appland.inc/" target="_blank">
          <img src="assets/images/instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.linkedin.com/company/appland-inc/" target="_blank">
          <img src="assets/images/linkedin.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
    <div class="contact">
      <p><strong>Contact</strong></p>
      <p>Email: mario@applandtech.com</p>
      <p>Phone: +504 3394 9211</p>
    </div>
  </div>
  <div class="reserved">
    <p class="text-reserved">
      © Copyright 2024. All Rights Reserved by <strong>Appland</strong>
    </p>
  </div>
</div>
