<!-- <style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
</style>
<header class="fixed-header">
  <<app-menu></app-menu>
</header>
<body>

</body> -->
<!-- <app-banner></app-banner>
<app-service></app-service>
<app-why></app-why>
<router-outlet></router-outlet> -->
<!--<footer>
   <app-footer></app-footer>
</footer>  -->

<div class="container">
  <img src="assets/images/buildingApp.jpg" alt usemap="#redes-sociales" class="img"/>
  <div class="social">
    <h1>BE INFORMED IN:</h1>
    <div class="social-icons">
      <a href="https://www.facebook.com/applandhn" target="_blank"><img src="assets/images/facebook.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/appland.inc/" target="_blank"><img src="assets/images/instagram.png" alt="Instagram"></a>
      <a href="https://www.linkedin.com/company/appland-inc/" target="_blank"><img src="assets/images/linkedin.png" alt="LinkedIn"></a>
    </div>
  </div>
</div>

