<mat-toolbar class="toolbar {{ scrolled }}">
  <button class="menu-button" (click)="toggleMenu()" style="display: none">
    <mat-icon class="icon">menu</mat-icon>
  </button>
  <div class="logo {{ scrolled }}">
    <img src="assets/images/logo-appland.png" alt="appland Logo" />
    <h1>APPLAND</h1>
  </div>
  <!-- <ul>
    <li *ngFor="let item of navItems">
      <a [routerLink]="item.route" class="{{scrolled}}">{{ item.name }}</a>
    </li>
  </ul> -->
  <div>
    <select (change)="changeLanguage($event)" [value]="currentLanguage">
      <option value="en">En</option>
      <option value="es">Es</option>
    </select>
  </div>
  <button class="info-button" (click)="toggleInfo()">
    <mat-icon class="icon {{ scrolled }}">card_travel</mat-icon>
  </button>
</mat-toolbar>

<!-- Sidebar Menu -->
<div class="sidebar" [ngClass]="{ open: isMenuOpen }" *ngIf="false">
  <div class="title-menu">
    <div class="logo-sidebar">
      <img src="assets/images/logo-appland.png" alt="Appku Logo" />
      <h1>APPLAND</h1>
    </div>
    <button class="close-button" (click)="toggleMenu()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="menu-items">
    <ul class="menu-item">
      <li *ngFor="let item of navItems" class="li-item">
        <a [routerLink]="item.route">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>

<!-- Sidebar Info -->
<div class="sidebar-info" [ngClass]="{ open: isInfoOpen }">
  <div class="title-info">
    <div class="logo-sidebar-info">
      <img src="assets/images/logo-appland.png" alt />
      <h1>APPLAND</h1>
    </div>
    <button class="close-button" (click)="toggleInfo()">
      <mat-icon class="icon-info-close">close</mat-icon>
    </button>
  </div>
  <div class="info-data">
    <p>{{ info }}</p>

    <div class="contact-info">
      <div class="content-info">
        <p>Address</p>
        <strong>Tegucigalpa, Francisco Morazán, Honduras</strong>
      </div>
      <div class="content-info">
        <p>email</p>
        <strong>mario@applandtech.com</strong>
      </div>
      <div class="content-info">
        <p>contact</p>
        <strong>+504 3394 9211</strong>
      </div>
    </div>
    <div class="social">
      <p><strong>Social Media</strong></p>
      <div class="social-icons">
        <a href="https://www.facebook.com/applandhn" target="_blank">
          <img src="assets/images/facebook.png" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/appland.inc/" target="_blank">
          <img src="assets/images/instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.linkedin.com/company/appland-inc/" target="_blank">
          <img src="assets/images/linkedin.png" alt="LinkedIn" />
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Overlay -->
<div
  class="overlay"
  [ngClass]="{ active: isMenuOpen }"
  (click)="toggleMenu()"
  onkeydown=""
></div>
<div
  class="overlay"
  [ngClass]="{ active: isInfoOpen }"
  (click)="toggleInfo()"
  onkeydown=""
></div>
